{% extends "base.html" %}
{% block title %} Последние обновления Автора {% endblock %}
{% block content %}
    <div class="container">
           {% load cache %}
           {% cache 1200 index_page %}
           <h1> Последние обновления Автора</h1>
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}
          {% endcache %}
    </div>
        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}
{% endblock %}